{% extends 'blog/base.html' %}
{% load liked_template %}

{% block content %}


{% for post in posts %}
<div class="post-container">
    <div class="post-header">
        <a href="{% url 'profile' post.author.username %}" class="post-link" >
            <div class="user-info">
                <div class="post-profile-picture">
                    <img src="{{post.author.profile.pfp.url}}" alt="User Profile Picture">
                </div>
                <div class="username">{{post.author.username}}</div>
            </div>
        </a>
    <a href="{% url 'post' post.id %}" class="post-link" >
        <h2 class="post-title">{{post.title}}</h2>
    </div>
        <div class="post-content">
            <p class="content">{{post.content|linebreaksbr}}</p>
            {% if post.image %}
            <img class="post-image" src="{{post.image.url}}" alt="Post Image">
            {% endif %}
        </div>
    </a>
    <hr>

    {% if post|liked:request.user %}
    <a class="remove-upvote-button post-link" href="{% url 'delete-like' post.id %}"  >⇧</a>
    <span class="upvote-count" >{{post.liked_by.count}}</span>
    {% else %}
    <a class="upvote-button post-link" href="{% url 'add-like' post.id %}" >⇧</a>
    <span class="upvote-count" >{{post.liked_by.count}}</span>
    {% endif %}
    <a class="upvote-button post-link" href="{% url 'post' post.id %}">✉</a>
    <span class="upvote-count" > {{post.comments.count}} </span>
</div>
{% endfor %}

{% endblock content %}