{% extends "blog/base.html" %}
{% comment %} same html as update post {% endcomment %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <h4> {{message}} </h4>
        {% endfor %}
    {% endif %}

    <div class="add-post-container" >
        <h2>Change Password</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="add-post-button">Change Password</button>
        </form>
    </div>
{% endblock %}