{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BaceFook - {{title}} </title>
    <link rel="stylesheet" href="{% static 'styles/user-form.css' %}">
</head>
<body>
    {% if messages %}
    {% for message in messages %}
        <h4> {{message}} </h4>
    {% endfor %}
    {% endif %}
    <div class="container">
        <div class="form-box">
            <h2>{{title}}</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">{{title}}</button>
            </form>
            {% if title == 'Login' %}
            <h5>Don't have an account <a href="{% url 'register' %}">Register</a></h5>
            {% else %}
            <h5>Already have an account <a href="{% url 'login' %}">Login</a></h5>
            {% endif %}
        </div>
    </div>
</body>
</html>