{% extends 'blog/base.html' %}

{% comment %} same as profile.html but with the user comments with same post styling {% endcomment %}

{% block content %}
<div class="profile-container">
    <div class="profile-picture">
        <img src="{{profile.pfp.url}}" alt="Profile Picture">
    </div>
    <div class="profile-details">
        <h2 class="username">{{profile.user.username}}</h2>
        <p class="bio">{{profile.bio}}</p>
    </div>
    {% if profile.user == user %}
    <div class="profile-detail-actions">
        <a href="{% url 'update-profile' profile.id %}" class="profile-update-button">Update</a>
    </div>
    {% endif %}
</div>

<a href="{% url 'profile' profile.user.username %}" class="post-link"><h3 class="profile-content-h3">Posts</h3></a>
<a href="{% url 'profile-C' profile.user.username %}" class="post-link"><h3 class="profile-content-h3">Comments</h3></a>

{% for comment in user_comments %}
<div class="profile-user-posts">
    <a href="{% url 'post' comment.related_post.id %}" class="post-link">
    <div class="profile-post">
        <div class="profile-post-content">
            <div class="profile-post-user-info">
                <h4>{{comment.related_post.title }} --- {{comment.related_post.author}}</h4>
            </div>
            <p class="profile-post-text">{{comment.comment}}</p>
        </div>
    </div>
    </a>
</div>
{% empty %}
<div class="profile-user-posts">
    <h3>No Comments</h3>
</div>
{% endfor %}

{% endblock %}